/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
    .start-record-btn{
        height: 150px;
        width: 150px;
    }
    .continue{
        height: 50px;
        width: 50px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 400px) {
    .start-record-btn{
        height: 195px;
        width: 195px;
    }
    .continue{
        height: 150px;
        width: 150px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .start-record-btn{
        height: 350px;
        width: 350px;
    }
    .continue{
        height: 150px;
        width: 150px;
    }
}

body{
    margin:0;
    text-align: center;
}

#dragon{
    display: block;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#resultH{
    display: none;
    width: 100%;
}

form{
    display: none;
    text-align: -webkit-center;
}

#userData, #userData2{
  background-image: url(../images/textbubble.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:90% 80%;

}

#userData2{
  transform: scale(-1,1);
}

#userData2 input{
  transform: scale(-1,1);
}

input[type=text]{
    background-color: transparent;
    border: none;
    color: #ffda00;
    font-size: 4em;
    font-family: questa-sans;
    position: relative;
    top: 200px;
    text-align: center;
    z-index: -1;
}

.start-record-btn{
    background-color: transparent;
    background-size: 50% 50%;
    border-style: solid;
    border-color: transparent;
    cursor: pointer;
    color: transparent;
    display: block;
    width: 100%;
}

.continue{
    background-image: url(../images/button.png);
    background-repeat: no-repeat;
    background-size: 60% 100%;
    background-position: center center;
    background-color: transparent;
    border-color: black;
    border-style: solid;
    border-width: 0.5rem;
    border-radius: 50%;
    color: transparent; 
    margin-top: 3rem;
    cursor: pointer;
}

#back{
    margin: auto;
    display: none;
}

#instructions{
    margin: 0;
}
