/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
    h1{
        font-size: 2.5em;
    }
    .start-record-btn{
        height: 50px;
        width: 50px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 400px) {
    h1{
        font-size: 5em;
    }
    .start-record-btn{
        height: 95px;
        width: 95px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .start-record-btn{
        height: 150px;
        width: 150px;
    }
}


body{
    background-color: #0465a7;
    text-align: center;
}

h1{
    color: #ffda00;
    font-family: questa-sans;
}

p{
    color: white;
    font-family: bello-caps;
    font-size: 3em;
}

form{
    display: none;
    text-align: -webkit-center;
}


input[type=text]{
    background-color: #0465a7;
    border: none;
    color: #ffda00;
    font-size: 4em;
    text-align: center;
    width: 100%;
    font-family: questa-sans;
}

.start-record-btn{
    background-image: url(../images/mic.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fd6b00;
    background-size: 50% 50%;
    border-radius: 50%;
    border-style: solid;
    border-color: transparent;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;
    color: transparent;
    display: block;
}

.start-record-btn:hover{
    border-width: .5em;
    border-color: black;
}

.start-record-btn:active{
    /* wip https://stackoverflow.com/questions/34186640/button-active-using-javascript-and-css */
    border-width: 1em;
    border-color: black;
    background-color: #ed0707;
}

.continue{
    background-image: url(../images/button.png);
    background-repeat: no-repeat;
    background-size: 60% 100%;
    background-position: center center;
    background-color: transparent;
    border-color: white;
    border-style: solid;
    border-width: 0.5rem;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: transparent; 
    margin: 3rem;
    cursor: pointer;
}

#back{
    display: none;
    background-image: url(../images/button.png);
    background-repeat: no-repeat;
    background-size: 60% 100%;
    background-position: center center;
    border-color: white;
    border-style: solid;
    border-width: 0.5rem;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: transparent; 
    transform: rotate(180deg);
    cursor: pointer;
    margin: auto;
}
