<!DOCTYPE html lang="nl">
<head>
    <title>Stemrijmer</title>
    <meta charset="UTF-8">
    <meta name="author" content="Wouter Bijnsdorp">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML, CSS, JavaScript, rhyming, Dutch, NL, speech">
    <meta name="application-name" content="Stemrijmer">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/shoelace-css/1.0.0-beta16/shoelace.css">

</head>
<html>
    <body style="padding: 1rem;">
        <!-- Deze applicatie werkt alleen op chrome voor desktop en Android.-->
        <h1>Rijm</h1>
        <p id='embed' style="display: none">{{embed}}</p>
        <p id='mylog'/>
        <p id="instructions">Druk op een van de knoppen om input op te nemen.</p>

        <form id="userData" method="post" action="secondPage">
            <label for="fWord">Eerste woord:</label>
            <input type="text" id="fWord" name="fWord" style="width: 50%;" readonly>
            <input type="button" style="margin-right: 100%;" id="rcrd1" class="start-record-btn" value="Spreek in">

            <label for="sWord">Rijmt met:</label>
            <input type="text" id="sWord" name="sWord" style="width: 50%;" readonly>
            <input type="button" style="margin-right: 100%;" id="rcrd2" class="start-record-btn" value="Spreek in">
            <input type="submit" style="margin-top: 1.5rem;" value="Verstuur" onclick="localStorage.setItem('secondWord', form.elements['sWord'].value);">
        </form>

        <div id="resultDiv" style="align-items: center; display: none;">
            <p id="resultP">Het eerste woord en het tweede woord rijmen</p>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script src="static/js/script.js"></script>
    </body>
</html>