<!DOCTYPE html lang="nl">
<head>
    <title>Stemrijmer</title>
    <meta charset="UTF-8">
    <meta name="author" content="Wouter Bijnsdorp">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML, CSS, JavaScript, rhyming, Dutch, NL, speech">
    <meta name="application-name" content="Stemrijmer">
    <link rel="stylesheet" href="static/css/style.css">

</head>
<html>
    <body class="center">
        <main class="page">
            <!-- Deze applicatie werkt alleen op chrome voor desktop en Android.-->
            <h1 id="title">Praat en rijm</h1>
            <p id="embed" style="display: none">{{embed}}</p>
            <p id="mylog"/>
            <p id="instructions">Druk op een van de knoppen om input op te nemen.</p>

            <form id="userData" method="post" action="secondPage">
                <label for="fWord">Eerste woord:</label>
                <input type="text" id="fWord" name="fWord" readonly>
                <input type="button"  id="rcrd1" class="start-record-btn" value="Spreek">
                

                <label for="sWord">Rijmt met:</label>
                <input type="text" id="sWord" name="sWord" readonly>
                <input type="button"  id="rcrd2" class="start-record-btn" value="Spreek">
                <input type="submit"  value="Verstuur" onclick="localStorage.setItem('secondWord', form.elements['sWord'].value);">
            </form>

            <div id="resultDiv" style="display: none;">
                <p id="resultP">Het eerste woord en het tweede woord rijmen</p>
            </div>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

            <script src="static/js/script.js"></script>
        </main>
    </body>
</html>